<ol class="breadcrumb">
  <li><%= link_to "Categories", categories_path  %></li>
  <li class="active"><%= @category.name %></li>
</ol>

<table class="table">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Title</th>
			<th>Subtitle</th>
			<th>Relevance score</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @pois.each_with_index do |poi, rank| %>
			<tr>
				<td><%= rank+1 %></td>
				<td><%= poi.title %></td>
				<td><%= poi.subtitle %></td>
				<td><%= poi.relevance %></td>
				<td><%= link_to "More info", poi_path(:id => poi.id), :class => "btn btn-default btn-sm" %></td>
				<td><%= link_to "Adjust scores", adjust_scores_poi_path(:id => poi.id), :class => "btn btn-danger btn-sm" %></td>
			</tr>
		<% end %>
	</tbody>
	
</table>