<ol class="breadcrumb">
  <li><%= link_to "Categories", categories_path  %></li>
  <li><%= link_to @poi.categories.first.name, get_pois_category_path(@poi.categories.first) %></li>
  <li class="active"><%= @poi.title %></li>
</ol>

<h3 style="margin-bottom: 30px;"><%= @poi.title %></h3>

<ul class="nav nav-tabs" style="margin-bottom: 30px;">
  <li role="presentation" class="<%= 'active' if controller_name == 'pois' && action_name == 'show' %>"><%= link_to "POI info", @poi %></li>
   <li role="presentation" class="<%= 'active' if controller_name == 'pois' && action_name == 'adjust_scores' %>"><%= link_to "Adjust scores", adjust_scores_poi_path(:id => @poi.id) %></li>
</ul>