<%= render :partial => 'tabs' %>

<% if @response['entities'].blank? %>
	<div class="alert alert-danger" role="alert">No entities...</div>
<% else %>

	<table class="table">
		<thead>
			<tr>
				<th>Text</th>
				<th>Type</th>
				<th>Relevance</th>
				<th>Sentiment type</th>
				<th>Sentiment score</th>
			</tr>
		</thead>
		<% for entity in @response['entities'] %>
			<tr>
				<td><%= entity['text'] %></td>
				<td><%= entity['type'] %></td>
				<td><%= entity['relevance'] %></td>
				<td><%= entity['sentiment']['type'] %></td>
				<td><%= entity['sentiment']['score'] %></td>
			</tr>
		<% end %>
	</table>
<% end %>