<%= render :partial => 'tabs' %>

<% if @response['concepts'].blank? %>
	<div class="alert alert-danger" role="alert">No concepts...</div>
<% else %>

	<table class="table">
		<thead>
			<tr>
				<th>Text</th>
				<th>Relevance</th>
				<th>Links</th>
			</tr>
		</thead>
		<% for concept in @response['concepts'] %>
			<tr>
				<td><%= concept['text'] %></td>
				<td><%= concept['relevance'] %></td>
				<td>
					<%= link_to "DBpedia", concept['dbpedia'] %> | <%= link_to "yago", concept['yago'] %> | <%= link_to "freebase", concept['freebase'] %>
				</td>
			</tr>
		<% end %>
	</table>

<% end %>