<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poi.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @poi.subtitle %>
</p>

<p>
  <strong>Neighbourhood:</strong>
  <%= @poi.neighbourhood_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @poi.address %>
</p>

<p>
  <strong>Telephone number:</strong>
  <%= @poi.telephone_number %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @poi.website_url %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @poi.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @poi.latitude %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @poi.transport %>
</p>

<p>
  <strong>Working hours:</strong>
  <%= @poi.working_hours %>
</p>

<p>
  <strong>Prices:</strong>
  <%= @poi.prices %>
</p>

<p>
  <strong>Description:</strong>
  <%= @poi.description %>
</p>

<p>
  <strong>Restaurant prices:</strong>
  <%= @poi.restaurant_prices %>
</p>

<p>
  <strong>Hotel categories:</strong>
  <%= @poi.hotel_categories %>
</p>

<p>
  <strong>Festival date:</strong>
  <%= @poi.festival_date %>
</p>

<p>
  <strong>Data:</strong>
  <%= @poi.data %>
</p>

<p>
  <strong>Michelin stars:</strong>
  <%= @poi.michelin_stars %>
</p>

<p>
  <strong>Architect name:</strong>
  <%= @poi.architect_name %>
</p>

<%= link_to 'Edit', edit_poi_path(@poi) %> |
<%= link_to 'Back', pois_path %>
